{% extends 'base.html' %}
{% from 'bootstrap/nav.html' import render_nav_item, render_breadcrumb_item %}

{% block content %}

<h1>Disaster Infomation</h1>

<img src="/static/Drought.png">
<li><a href="#fire">Fire</a></li>
<li><a href="#flood">Flood</a></li>
<li><a href="#earthquake">Earthquake</a></li>

<a name="fire"></a><br><br><br>

<a name="flood"></a><br><br><br>

<a name="earthquake"></a><br><br><br>


Disaster Resilience Challenges

Enhancing city and community resilience frameworks (improving city and community preparedness)

Reducing critical infrastructure disruptions

Improving information management and sharing

Disaster – Individual, Business/Organisations (communities)

Before 

Prepare 

During 

Respond 

After 

Recover 

Recovery Assistance: Financial Assistance after disaster (ie Disaster Recovery Payment / Allowance)


HOME FIRE SAFETY CHECKLIST – 

Prevention

Fire Escape Plan (Ref: https://www.fire.nsw.gov.au/page.php?id=883 ) 2 ways out of a room (Primary/Secondary)

Smoke alarms (installation/maintenance) – law, fire sprinkler system Slass 2/3 shared residential buildings >26 metres height

Written escape plan

Door and window safety lock keys accessible

Never leave cooking, or other open flame unattended (ie candles, oil burners)

Clean lint filter of clothes dryer

Never smoke in bed, extra care when smoking+intoxicated

Extra Care using heaters, electric blankets, open fires)

Don’t overload power points, switch off appliances when not in use, regularly check electrical leads for damage and faults

Remove lighters and matches from child access and/or educate “tools not toys”

Care with stored chemicals, fuels, refuel equipment when cold out in open

BBQ (gas, electric, wood) – working order and attended by responsible adult when in use 

Oil, gas, wood heating units (annual maintenance checks)

Keep ground/gutters around home clear of leaves/litter

Only use fuses of recommended rating and install electrical safety switch 

Keep exits clear

High rise: Don’t use lift – use emergency exit/stairs, follow buildings evacuation plan.

During (get out, stay out, dial 000)

Escape/evacuate

Smoke makes you confused, cannot see it. When asleep won’t smell it and puts you in deeper sleep.

PREPARE FOR BUSH FIRE (Survival Plan – #MyFirePlan): 4 steps 

Discuss what to do if bush fire occurs (Action Plan – firefighting equipment, protective clothing, stay/leave, during, after). Refer to P5/15 Survival Plan, “Decide to stay action checklist” P6/15.

Prepare home/property (minimise fuel sources for fire), and anticipate loss of power and telecommunications (Top 5 Actions: trim, mow, remove, clear, prepare) – Before/During

Know – track bush fire alert levels and monitor fire danger ratings (Low-moderate, high, very high, severe, extreme, catastrophic) and know when to leave. Ref: Smartphone App ‘Fires Near Me’

Keep – Key information: 

telephone numbers (emergency services 000, NSW RFS 1800 679 737), 

Websites: NSW Rural Fire Service (rfs.nsw.gov.au) 

Fire danger ratings (rfs.nsw.gov.au/fdr)

Smartphone App ‘Fires Near Me’

Local radio, local ABC/emergency broadcaster frequency, TV, newspapers

Social media:

Facebook.com/nswrfs
Twitter.com/nswrfs





{% endblock %}
